html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 35vh;
}

p > img {
    width: 100%;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
    color: #ed786a;
}

@keyframes blink {
    80% {
        visibility: hidden;
    }
}